{% extends 'admin_panel/base_admin.html' %}

{% block title %}{{ action }} — Kitob{% endblock %}

{% block content %}

<h1>{{ action }}: Kitob</h1>
<p><a href="{% url 'main:admin-book-list' %}">&larr; Kitoblar ro'yxati</a></p>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}<br>
            {% if field.errors %}
                {% for error in field.errors %}
                    <span>Xato: {{ error }}</span><br>
                {% endfor %}
            {% endif %}
        </p>
    {% endfor %}

    <button type="submit">{{ action }}</button>
    <a href="{% url 'main:admin-book-list' %}">Bekor qilish</a>
</form>

{% endblock %}