{% extends 'base.html' %}

{% block title %}{{ category.name }} — Kitoblar{% endblock %}

{% block content %}

<p><a href="{% url 'main:book-list' %}">&larr; Barcha kitoblar</a></p>

<h1>{{ category.icon }} {{ category.name }}</h1>
{% if category.description %}<p>{{ category.description }}</p>{% endif %}

<hr>

{% if books %}
    <ul>
        {% for book in books %}
            <li>
                <a href="{% url 'main:book-detail' book.pk %}"><strong>{{ book.title }}</strong></a>
                — {{ book.author }} ({{ book.published_date }})
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Bu kategoriyada hozircha kitoblar yo'q.</p>
{% endif %}

{% endblock %}