{% extends 'base.html' %}

{% block title %}Profilni tahrirlash{% endblock %}

{% block content %}

<h1>Profilni tahrirlash</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}<br>
            {% if field.errors %}
                {% for error in field.errors %}
                    <span>Xato: {{ error }}</span><br>
                {% endfor %}
            {% endif %}
        </p>
    {% endfor %}

    <button type="submit">Saqlash</button>
    <a href="{% url 'main:profile' %}">Bekor qilish</a>
</form>

{% endblock %}